{% extends "layout.html" %}



 {% block title %}Home{% endblock %}



 {% block content %}

  <!-- <div class="home-bg"></div> -->
  <html>
    <head>
      <h1> What Should I Cook? </h1> 
     
    </head>
  
    <body>
      <div class="home-bg"></div>
      
      <h2>Take the Recipe Quiz to Find Out <br> </h2>
      <div class="centered_button"> <button class = "button home", onclick="document.location='/quizpage'"> Recipe Quiz</button></div>
       


       
    
    </body>
  </html>
  
 {% endblock %}